/build
.idea
/logs
docker-compose.yaml
/data
/.run/
/profiling/
/data-old/
/data-export/
/regtest/
/signet/
/binaries/
/build-test/
/mainnet-test/
/mainnet-test-1/
/_prod_/
/regtest-2/
/bin/
/signet-1/
/dev/
/result